<article id="home">
    <h2>Value Of Money</h2>
    <figure class="home-img">
        <img src="./img/money.jpg">
        <figcaption>Value Of Money</figcaption>
    </figure>
    <div class="desktop-para">
        <p>
            One of the fundamental principles of finance is the concept that $1 today is more valuable than $1 a year from now. The reason for this is two-fold. First, due to the destructive force of inflation, a dollar likely will not go as far in the future. Second, if I have the dollar in my hand today, I can invest it and earn a return in the form of dividends, interest or capital gains.
        </p>
        <p>
            The best money advice anyone can ever give you is to firmly establish this time value of money concept in your head. The key to financial prosperity is realizing the potential value of every dollar that comes into your hands. In fact, I think of cash as a seed – you can either eat it (spend it) or invest it (sow it).
        </p>
        <p>
            To help illustrate this point, let’s assume you find a $20 bill on the side of the road. You are faced with two potential uses: you can stick the money in your tax-free retirement account or take yourself out to dinner. “It’s only twenty bucks!” you say to yourself and opt for the dinner. In reality, you are spending far more. Using one of the time value of money formulas, we can calculate the real economic cost of not investing the cash.
        </p>
        <p>
            Clearly, this is enough to buy an entrée at a five-star restaurant! Armed with this knowledge, you are free to make an economic decision; namely, would you prefer to eat a $20 meal today or a $140 meal in the future. The answer is entirely personal. Once you understand this concept, however, it becomes painfully obvious that the small luxury items you think nothing of are really costing you millions and millions of dollars in future wealth.
        </p>
        <blockquote cite="https://www.thebalance.com/joshua-kennon-356025">You're Spending Your Millions $1 at a Time by JOSHUA KENNON .</blockquote>
    </div>
</article>
<hr>
<article>

    <h2>Are G.M.O. Foods Safe?</h2>
    <figure class="home-img">
        <img src="./img/food.jpg">
        <figcaption>GMO Food</figcaption>
    </figure>

    <p>
        By engineering resistance to insect damage, farmers have been able to use fewer pesticides while increasing yields, which enhances safety for farmers and the environment while lowering the cost of food and increasing its availability. Yields of corn, cotton and soybeans are said to have risen by 20 percent to 30 percent through the use of genetic engineering.
    </p>
    <p>
        TNonetheless, gene modification scientists are focusing increasingly on building health benefits into widely used foods. In addition to pink pineapples containing the tomato-based antioxidant lycopene, tomatoes are being engineered to contain the antioxidant-rich purple pigment from blueberries.
    </p>
    <p>
        The bottom line: Consumers concerned about the growing use of G.M.O.s in the foods they depend on might consider taking a more nuanced approach than blanket opposition. Rather than wholesale rejection, take some time to learn about how genetic engineering works and the benefits it can offer now and in the future as climate change takes an ever greater toll on food supplies. Consider supporting efforts that result in safe products that represent improvements over the original and focusing opposition on those that are less desirable.
    </p>
    <blockquote cite="https://www.nytimes.com/2018/04/23/well/eat/are-gmo-foods-safe.html">Are G.M.O. Foods Safe? by Jane E. Brody.
    </blockquote>

</article>
<hr>
<article>
    <h2>View Of the World In 2100</h2>
    <figure class="home-img">
        <img src="./img/2100.jpg">
        <figcaption>World in 2100</figcaption>
    </figure>
    <p>
        THE world's population will reach 7 billion by the end of October, according to the latest projections from the United Nations. For the first time the UN has attempted to look as far ahead as 2100, using various assumptions about how fertility and mortality rates might change over the years. The average of these estimates suggests that the global population will cross 10 billion by 2085. By 2100, 22.3% of people will be aged 65 or over, up from just 7.6% in 2010. The bulk of population growth is expected to come from the developing world. Africa's population will rise from 1 billion in 2010 to 3.6 billion in 2100. In 1950, 32% of the world's people lived in today's rich countries. By 2100, only 13% will.
    </p>
    <blockquote cite="https://www.economist.com/graphic-detail/2011/05/13/the-world-in-2100">World in 2100 by The Economist online.</blockquote>
</article>
