<h2>PORTFOLIO</h2>
<article id="portfolio">

    <figure>
        <img src="./img/cute%20_cappuccino%20_coffee%20(1).png">
        <figcaption>Cute Cappuccino Coffee Website</figcaption>
    </figure>
    <figure>
        <img src="./img/eagle.JPG">
        <figcaption>Photography Statue</figcaption>
    </figure>
    <figure>
        <img src="./img/food%20(1).jpg">
        <figcaption>Appealing Food</figcaption>
    </figure>
    <figure>
        <img src="./img/landscape.jpg">
        <figcaption>Landscape Photography</figcaption>
    </figure>
    <figure>
        <img src="./img/laptop-1209008_1280%20(1).jpg">
        <figcaption>Photography</figcaption>
    </figure>
    <figure>
        <img src="./img/lights%20(1).jpg">
        <figcaption>Indoor Photography</figcaption>
    </figure>
</article>
